<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Mi Blog</a>
		<article class="sobre-mi">
            <h1 class="titulo-sobre">¿Que es lo que debes saber de mi?</h1>
            <p class="desc-respuesta">
                Mi nombre es Shaila y estoy aprendiendo a utilizar Astro para poder desarrollar
                paginas web rapidas y orientadas a contenido.
            </p>

            <p class="cambios">
                Nos vemos al final del tutorial para ver como avanzamos.
            </p>
        </article>
	</body>
</html>
