<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Mi Blog</a>
        
		<h1>Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
	</body>
</html>
