<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body>
		<h1>Hola mundo, soy Shaila Hussein! :)</h1>
	</body>
</html>
